<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Genre</th>
    <th>Release Year</th>
    <th>Released</th>
  </tr>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.artist_name %></td>
        <td><%= song.genre %></td>
        <td><%= song.release_year %></td>
        <td><%= song.released %></td>
      </tr>
    <% end %>
  </tbody>
</table>
